{% extends "base.html" %}
{% block content %}
<h1>Form Tambah Siswa 1</h1>
<form action="/form" method="POST">
    {{template_form.hidden_tag()}}
    <p>{{template_form.students_name.label}} : {{template_form.students_name()}}</p>
    <p>{{template_form.students_fullname.label}} : {{template_form.students_fullname()}}</p>
    <tr>Jenis Kelamin : {% for btn in template_form.students_gender %} 
        <td>{{ btn }}</td>
        <td>{{ btn.label }}</td>
        {% endfor %}</tr>
    <p>{{template_form.students_address.label}} : {{template_form.students_address()}}</p>
    <p>{{template_form.submit_form()}}</p>
</form>
{% endblock %}
